<!DOCTYPE html>
<html lang="zh-cmn-Hans" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<body>
<div th:fragment="footer">
    <div class="footer">
        <div class="wcon">
            <p class="flink"><a href="/ifutures.html">国际期货</a> | <a href="/ifutures.html">商品期货</a> | <a href="/download.html">下载中心</a> | <a href="/help_reg.html">新手指南</a> | <a href="/">返回首页</a></p>
<!--            <div class="ft_s">
                &lt;!&ndash;                <span class="btn_sina ft_btn"><a href="http://www.weibo.com/" target="_blank"><i></i><p>新浪微博</p></a></span>&ndash;&gt;
                <span class="btn_wechat ft_btn"><i><div class="tipbox"><span class="tipdesc">打开微信扫一扫下方二维码</span><br><img src="http://admin.shzhongyantz.cn/cpdradmin/userfiles/1/images/weixin/weixin.png" width="160"/><br></div></i><p>官方微信</p></span>
                <span class="btn_qq ft_btn"><a href="tencent://message/?uin=1053494101&Site=test&Menu=yes" th:href="@{tencent://message/?uin=}+${application.qq}+@{&Site=test&Menu=yes}"><i></i><p>售前客服</p></a></span>
                <span class="btn_qq ft_btn"><a href="tencent://message/?uin=1053494101&Site=test&Menu=yes" th:href="@{tencent://message/?uin=}+${application.qq2}+@{&Site=test&Menu=yes}"><i></i><p>售后客服</p></a></span>
            </div>
            <div class="ft_desc">
                <span>联系电话：<span th:text="${application.telphone}">0551-1234567</span></span>
                <span>工作时间：周一到周五，上午9：00至下午18：00</span>
                <span>E-mail：<span th:text="${application.email}">xxxxxxxxxxxxxxx.com</span></span>
                <p class="copyright"><span th:text="${application.copyright}">Copyright © 2016 - 2016 overspay.com Corporation, All Rights Reserved</span>&nbsp;&nbsp;技术支持：<a href="http://www.suodui.cn" style="color: #ececee" target="_blank">安徽索兑软件服务限公司</a></p>
            </div>-->
        </div>
    </div>
</div>
</body>
</html>