<!DOCTYPE html>
<html lang="zh-cmn-Hans" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<body>
<div class="header" th:fragment="header">
    <div class="header">
    <div class="wcon">
        <div class="top">
            <a href="/" class="logo fl"><img src="images/logo.png" th:src="@{/images/logo.png}" width="175" height="58"/></a>
            <ul class="nav fr">
                <li><a href="/">首页</a></li>
                <li><a href="/ifutures.html">国际期货</a></li>
                <li><a href="/download.html">下载中心</a></li>
                <li><a href="/help.html">新手指南</a></li>
                <li class="acount" sec:authorize="isAuthenticated()">
                    <a href="javascript:void(0)" th:href="@{/user/user_info}" class="ubtn">我的账户</a>
                    <form th:action="@{/logout}" id="logout" method="post" style="display: none"></form>
                    <a href="javascript:void(0)" class="logout_a">退出</a>
                </li>
                <li class="nologin" sec:authorize="!isAuthenticated()">
                    <a href="/login.html" th:href="@{/login}" class="login">登录</a>
                    <a href="/reg.html" th:href="@{/regpage}" class="reg">注册</a>
                </li>
            </ul>
        </div>
    </div>
    </div>
</div>
</body>
</html>