<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.payinxl.dao.MemUserDao">
    <resultMap id="memRoleResult" type="com.payinxl.model.MemRole">
        <result column="id" property="id"></result>
        <result column="name" property="name"></result>
        <result column="userid" property="userid"></result>
        <association property="frontMenuList" select="selectFrontMenuListByRoleid" column="id"></association>
    </resultMap>
    <sql id="memUserColumns">
        a.id,
        a.parentid,
        a.usercode,
        a.username,
        a.password,
        a.paypwd,
        a.qq,
        a.email,
        a.mobile,
        a.description,
        a.status,
        a.locked,
        a.registertime,
        a.logintime,
        a.loginip,
        a.logintime as lastlogintime,
        a.loginip as lastloginip,
        a.registerip,
        a.sdkey
    </sql>
    <select id="selectFrontMenuListByRoleid"  parameterType="java.lang.String" resultType="com.payinxl.model.FrontMenu">
        SELECT  a.id,a.parent_id,a.parent_ids,a.permission,a.name,a.sort,a.href,a.target,a.icon,a.is_show
        from front_menu a,mem_role_menu b
        where a.id=b.menuid and a.is_show=0 and b.roleid=#{roleid}
    </select>
    <select id="selectMemUserByUserName" parameterType="java.lang.String" resultType="com.payinxl.model.MemUser">
        SELECT
        <include refid="memUserColumns"/>
        FROM mem_user a
        WHERE a.username = #{username} or a.id=#{username}
    </select>
    <select id="selectMemRoleByUserid" parameterType="java.lang.String" resultMap="memRoleResult">
        SELECT b.id,b.name,a.userid FROM mem_user_role a,mem_role b WHERE a.roleid=b.id and a.userid=#{userid}
    </select>
    <select id="selectAllfrontMenuList"  resultType="com.payinxl.model.FrontMenu">
        SELECT  id,parent_id,parent_ids,permission,name,sort,href,target,icon,is_show  from front_menu where  is_show=0
    </select>
</mapper>