<!DOCTYPE html>
<html lang="zh-cmn-Hans" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <meta charset="utf-8">
  <title>结算记录</title>
  <meta name="description" content=""/>
  <meta name="keywords" content=""/>
  <meta name="robots" content="index,follow"/>
  <meta name="viewport" content="user-scalable=0"/>
  <meta name="HandheldFriendly" content="true"/>
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="renderer" content="webkit"/>
  <meta name="format-detection" content="telphone=no, email=no"/>
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <meta name="author" content="SDTEAM"/>
  <link href="../css/main.css" rel="stylesheet"/>
  <link href="../css/dropkick.css" rel="stylesheet">
  <link rel="shortcut icon" href="favicon.ico"/>
  <style type="text/css">
    .search .sch-mid{margin-right: 10px;}#phone{margin-right: 10px;}.user_right{min-height: 666px;}
    .btninfo{padding:6px 15px;margin-left:8px;background: #ff7027;color: #fff;font-size: 12px;border-radius:4px;cursor: pointer;}.btninfo:hover{background: #e05c19;color: #fff;text-decoration: none;}
    .layui-layer .layui-layer-btn .layui-layer-btn0{background: #ff7027;border-color: #ff7027;}
  </style>
</head>
<body>
<div th:replace="common/header :: header"></div>
<div id="mid">
  <div class="content user">
    <div class="wcon">
      <div th:replace="common/leftmenu :: leftmenu"></div>
      <div class="user_right fr">
        <ul class="tit"><li class="nocur"><a href="/agent/agent_member.html">代理会员</a></li><li><a href="/agent/agent_record.html">结算记录</a></li><li class="nocur"><a href="/agent/agent_transfer.html">账户转存</a></li></ul>
        <div class="search">
          <div class="sch"  style="width:100%;">
            <form action="../agent_record.ajax" th:action="@{/agent/agent_record_ajax}" name="pagelist" id="pagelist">
              <span class="schs sch-blk">时间：</span>
              <div class="sch-blk sch-mid">
                <input type="text" name="starttime" id="starttime" class="sch-ipt schs" autocomplete="off" /><span class="schs dt-sign" id="month1">00</span><span class="schs toline">—</span><input type="text" name="endtime" id="endtime" class="sch-ipt schs" autocomplete="off" /><span class="schs dt-sign" id="month2">00</span>
              </div>
              <input type="hidden" name="page" id="page" value="1" />
              <span class="schs sch-blk">结算状态：</span><select name="status" id="status"><option value="-1">选择状态</option><option value="1">结算中</option><option value="2">结算成功</option><option value="3">接受</option><option value="4">拒绝</option></select>
              <span class="schs sch-blk">账号：</span><input type="text" class="sch-ipt schs" name="username" id="phone" autocomplete="off" maxlength="11" />
              <button type="button" class="btn btn-default schs sch-blk" id="listbtn">筛选</button>
            </form>
          </div>
        </div>
        <div class="user_con list">

        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>
<div th:replace="common/footer :: footer"></div>
<script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
<script src="../js/jquery.dropkick-min.js"></script>
<script src="../js/layer/layer.js"></script>
<script src="../js/laydate/laydate.js"></script>
<script src="../js/main.js"></script>
<script type="text/javascript">
    $.fn.ready(function() {
        $('#status').dropkick();
    });
    $(document).ready(function(){
        laydate.skin('qianhuang');
        var start = {
            elem: '#starttime',
            format: 'YYYY-MM-DD 00:00:00',
            max: '2099-06-16 23:59:59', //最大日期
            choose: function(dates){ //选择好日期的回调
                end.min = dates;
                end.start = dates
                var dates = dates.split('-');
                $("#month1").text(dates[1]);
            }
        }
        var end = {
            elem: '#endtime',
            format: 'YYYY-MM-DD 23:59:59',
            max: '2099-06-16 23:59:59',
            choose: function(dates){ //选择好日期的回调
                start.max = dates;
                var dates = dates.split('-');
                $("#month2").text(dates[1]);
            }
        }
        laydate(start);
        laydate(end);
        agent_list();
    })
    $(".tip_btn_list .nob").click(function(){
        openifm($(this).attr('btit'),$(this).attr('burl'),$(this).attr('bheight'))
    })


    $(document).on('click',".pagination li:not('.disabled'),#listbtn",function(){
        if($("#phone").val()!='' && !isPhone($("#phone").val())){
            layer.msg('请输入正确的会员账号',function(){});
            $("#phone").select();
            return;
        }
        if($(this).attr('id')!='listbtn'){
            $("#page").val($(this).attr('data-lp'));
        }
        agent_list();
    })
    function agent_list(){
        var _this = $("#listbtn");
        var data=$('#pagelist').serialize(),url=$('#pagelist').attr('action');
        _this.attr('disabled',true);
        var olddata = $(".user_con.list").html();
        $(".user_con.list").html('');
        ajax.submit(url,data,function(d){
            var con='<div class="tablebox"><table width="95%;" border="0" cellpadding="0" cellspacing="0" class="mtable"><thead><tr><td>结算单号</td><td>结算代理账号</td><td>结算代理等级</td><td>佣金(￥)</td><td>状态</td><td>结算时间</td><td>操作</td></tr></thead><tbody>'
            var page='<div class="paginationlist">';
            if(d.success==false){
                $(".user_con.list").html(olddata);
                parent.layer.msg(d.resultMsg);
                _this.removeAttr('disabled');
                return;
            }else{
                if(d.data.list==null||d.data.list.length==0){
                    con += '<tr><td colspan="6">未查询到相关记录</td></tr>';
                }else{
                    for(var i=0;i<d.data.list.length;i++){
                        var data = d.data.list[i];
                        var cls='c3';//结算中
                        var s='结算中';
                        if(data.status==2){//结算完成
                            cls='c2';
                            s='结算完成';
                        }else if(data.status==3){//接受
                            cls='c2';
                            s='接受';
                        }else if(data.status==4){//拒绝
                            cls='c1';
                            s='拒绝';
                        }
                        var as='';
                        if(data.agentlevel==1){
                            as='一级代理';
                        }else if(data.agentlevel==2){
                            as='二级代理';
                        }else{//拒绝
                            as='三级代理';
                        }
                        if(data.status==2) {
                            con += '<tr id="' + data.id + '"><td>' + data.orderno + '</td><td  class="rphone">' + data.username + '</td><td>' + as + '</td><td class="rmoney">' + data.reward + '</td><td><b class="' + cls + '">' + s + '</b></td><td>' + data.begintimeStr + '</td><td><span class="btninfo" ctrl_type="1">接收</span><span class="btninfo" ctrl_type="0">拒绝</span></td></tr>';
                        }else{
                            con += '<tr id="' + data.id + '"><td>' + data.orderno + '</td><td  class="rphone">' + data.username + '</td><td>' + as + '</td><td class="rmoney">' + data.reward + '</td><td><b class="' + cls + '">' + s + '</b></td><td>' + data.begintimeStr + '</td><td></td></tr>';
                        }
                    }
                    page+=d.data.pagehtml;
                }
                con+='</tbody></table></div><div class="clear"></div>';
                page+='</div>';
                $(".user_con.list").html(con+page);
                parent.layer.closeAll();
                _this.removeAttr('disabled');
            }
        },function(e){
            $(".user_con.list").html(olddata);
            layer.msg('网络繁忙请稍后再试');
            _this.removeAttr('disabled');return;
        });
    }
    $(document).on('click',".btninfo",function(){
        var con,ctrlname=$(this).text(),_this=$(this);
        var recordmsg='下属会员：<span class="red">'+$(this).parents('tr').find('.rphone').text() +'</span>&nbsp;&nbsp;&nbsp;&nbsp;结算佣金：<span class="red">'+$(this).parents('tr').find('.rmoney').text() +'元</span><br><br>'
        if(ctrlname=='接收'){
            con = recordmsg+'您确认要<span class="red">'+ctrlname+'</span>此条结算记录吗？<br><span class="red">'+ctrlname+'</span>之后佣金将自动加到您的代理账户';
        }
        if(ctrlname=='拒绝'){
            con = recordmsg+'您确认要<span class="red">'+ctrlname+'</span>此条结算记录吗？<br><span class="red">'+ctrlname+'</span>之后系统将会从新计算这条结算信息';
        }
        con = '<div style="width:440px;">'+con+'</div>';

        layer.confirm(con, {
            title: ctrlname+'结算',
            btn: ['确认','取消'] //按钮
        }, function(){

            var data={recordno:_this.parents('tr').attr('id'),ctrl_type:_this.attr('ctrl_type'),_csrf:$("input[name='_csrf']").val()},url='/agent/handleOrderagent';

            ajax.submit(url,data,function(d){
                if(d.success==true){
                  layer.msg('操作成功', {time:2000},function(){
                      location.reload();
                  });
                }else{
                    layer.msg(d.resultMsg);
                    _this.removeAttr('disabled');return;
                }

            },function(e){
                layer.msg('网络繁忙请稍后再试');
                _this.removeAttr('disabled');return;
            });


        }, function(){
            layer.closeAll();
        });

    })
</script>
</body>
</html>