<!DOCTYPE html>
<html lang="zh-cmn-Hans" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <meta charset="utf-8">
  <title>代理信息</title>
  <meta name="description" content=""/>
  <meta name="keywords" content=""/>
  <meta name="robots" content="index,follow"/>
  <meta name="viewport" content="user-scalable=0"/>
  <meta name="HandheldFriendly" content="true"/>
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="renderer" content="webkit"/>
  <meta name="format-detection" content="telphone=no, email=no"/>
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <meta name="author" content="SDTEAM"/>
  <link href="../css/main.css" rel="stylesheet"/>
  <link rel="shortcut icon" href="favicon.ico"/>
  <style type="text/css">
    .search .sch-mid{margin-right: 10px;}#realname,#phone{margin-right: 10px;}.user_right{min-height: 666px;}
    .btninfo{display: block;width:54px;height:24px;border: none;background: #ff7027;color: #fff;font-size: 12px;border-radius:4px;cursor: pointer;text-align: center;line-height: 24px;margin: 0 auto;}.btninfo:hover{background: #e05c19;color: #fff;text-decoration: none;}
  </style>
</head>
<body>
<div th:replace="common/header :: header"></div>
<div id="mid">
  <div class="content user">
    <div class="wcon">
      <div th:replace="common/leftmenu :: leftmenu"></div>
      <div class="user_right fr">
        <ul class="tit"><li><a href="/agent/agent_member.html">代理会员</a></li><li class="nocur"><a href="/agent/agent_record.html">结算记录</a></li><li class="nocur"><a href="/agent/agent_transfer.html">账户转存</a></li></ul>
        <div class="search">
          <div class="sch">
            <form action="../agent_list.ajax" th:action="@{/agent/agent_list_ajax}" name="pagelist" id="pagelist">
              <span class="schs sch-blk">时间：</span>
              <div class="sch-blk sch-mid">
                <input type="text" name="starttime" id="starttime" class="sch-ipt schs" autocomplete="off" /><span class="schs dt-sign" id="month1">00</span><span class="schs toline">—</span><input type="text" name="endtime" id="endtime" class="sch-ipt schs" autocomplete="off" /><span class="schs dt-sign" id="month2">00</span>
              </div>
              <input type="hidden" name="page" id="page" value="1" />
              <span class="schs sch-blk">姓名：</span><input type="text" class="sch-ipt schs" name="realname" id="realname"/>
              <span class="schs sch-blk">账号：</span><input type="text" class="sch-ipt schs" name="username" id="phone"/>
              <button type="button" class="btn btn-default schs sch-blk" id="listbtn">筛选</button>
            </form>
          </div>
        </div>
        <div class="user_con list">

        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>
<div th:replace="common/footer :: footer"></div>
<script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
<script src="../js/layer/layer.js"></script>
<script src="../js/laydate/laydate.js"></script>
<script src="../js/main.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        laydate.skin('qianhuang');
        var start = {
            elem: '#starttime',
            format: 'YYYY-MM-DD 00:00:00',
            max: '2099-06-16 23:59:59', //最大日期
            choose: function(dates){ //选择好日期的回调
                end.min = dates;
                end.start = dates
                var dates = dates.split('-');
                $("#month1").text(dates[1]);
            }
        }
        var end = {
            elem: '#endtime',
            format: 'YYYY-MM-DD 23:59:59',
            max: '2099-06-16 23:59:59',
            choose: function(dates){ //选择好日期的回调
                start.max = dates;
                var dates = dates.split('-');
                $("#month2").text(dates[1]);
            }
        }
        laydate(start);
        laydate(end);
        agent_list();
    })
    $(".tip_btn_list .nob").click(function(){
        openifm($(this).attr('btit'),$(this).attr('burl'),$(this).attr('bheight'))
    })
    $(document).on('click',".pagination li:not('.disabled'),#listbtn",function(){
        agent_list();
    })
    function page(num){
        $("#page").val(num);
        agent_list();
    }
    $(document).on('click',"#okSearch",function(){
        $("#page").val($("#gopagenum").val());
        agent_list();
    })


    function agent_list(){
        var _this = $("#listbtn");
        var data=$('#pagelist').serialize(),url=$('#pagelist').attr('action');
        _this.attr('disabled',true);
        var olddata = $(".user_con.list").html();
        $(".user_con.list").html('');
        ajax.submit(url,data,function(d){
            var con='<div class="tablebox"><table width="95%;" border="0" cellpadding="0" cellspacing="0" class="mtable"><thead><tr><td>会员姓名</td><td>会员账号</td><td>余额</td><td>类型</td><td>可结算笔数</td><td>注册时间</td><td>操作</td></tr></thead><tbody>'
            var page='<div class="paginationlist">';
            if(d.success==false){
                $(".user_con.list").html(olddata);
                parent.layer.msg(d.resultMsg);
                _this.removeAttr('disabled');
                return;
            }else{
                if(d.data.list==null||d.data.list.length==0){
                    con += '<tr><td colspan="7">未查询到相关记录</td></tr>';
                }else{
                    for(var i=0;i<d.data.list.length;i++){
                        var data = d.data.list[i];
                        var usertype="会员";
                        if(data.usertype==1){
                            usertype="代理";//成功
                        }
                        con +='<tr><td>'+data.realname+'</td><td>'+data.username+'</td><td>'+data.balance+'</td><td>'+usertype+'</td><td>'+data.tradenum+'</td><td>'+data.registertime+'</td><td><a href="/agent/agent_orderlist?userid='+data.id+'" class="btninfo">查看</a></td></tr>';
                    }
                    page+=d.data.pagehtml;
                }
                con+='</tbody></table></div><div class="clear"></div>';
                page+='</div>';
                $(".user_con.list").html(con+page);
                parent.layer.closeAll();
                _this.removeAttr('disabled');
            }
        },function(e){
            $(".user_con.list").html(olddata);
            layer.msg('网络繁忙请稍后再试');
            _this.removeAttr('disabled');return;
        });
    }
</script>
</body>
</html>