<!DOCTYPE html>
<html lang="zh-cmn-Hans" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <meta charset="utf-8">
  <title>推广信息</title>
  <meta name="description" content=""/>
  <meta name="keywords" content=""/>
  <meta name="robots" content="index,follow"//>
  <meta name="viewport" content="user-scalable=0"/>
  <meta name="HandheldFriendly" content="true"/>
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="renderer" content="webkit"/>
  <meta name="format-detection" content="telphone=no, email=no"/>
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <meta name="author" content="SDTEAM"/>
  <link href="../css/main.css" rel="stylesheet"/>
  <link href="../css/yaoqing.css" rel="stylesheet"/>
  <link rel="shortcut icon" href="favicon.ico"/>
</head>
<body>
<div th:replace="common/header :: header"></div>
  <div id="mid">
    <div class="content user">
        <div class="wcon">
          <div th:replace="common/leftmenu :: leftmenu"></div>
          <div class="user_right fr">
            <ul class="tit"><li>推广信息</li></ul>
            <div class="user_con" style="padding:10px;">
              <div class="yao_one">
                  <div class="yao_one_top">
                      <div class="yao_o_left">
                          <h3>邀请好友  赢888元奖励</h3>
                      </div>
                      <div class="yao_o_right">
                          <a href="/agent/InvitationAward.html" target="_blank">奖励规则</a>
                      </div>
                  </div>

                  <div class="yao_one_cone clearx">
                      <h4>分享以下邀请链接，好友通过您的链接有效注册，并成功申请方案，您可获得888元奖励。同时，您的好友也可获得800元奖励。</h4>
                      <div class="yao_q clearx">
                          <p class="qi_p_1">邀请链接：</p>
                          <p class="qi_p_2">http://www.fasdfasdfasdfasdfasdf.com</p>
                          <a href="javascript:void(0);" class="qi_a copy" data-clipboard-target="popText">复制链接</a>
                          <input type="hidden" id="popText" value="http://www.fasdfasdfasdfasdfasdf.com">
                      </div>
                      <div class="yao_erwei clearx">
                          <h4>您的专属二维码</h4>
                          <img src="http://qr.liantu.com/api.php?text=http://www.tzdr.com/invite/767859">
                          <p>将二维码发送给好友，好友扫描二维码后打开邀请页注册</p>
                      </div>
                      <div class="yao_z4 clearx">
                          <ul>
                              <li class="color_hong">
                                  <a href="javascript:void(0)">
                                      <div class="z4_left left">
                                          <img src="../images/yao_2.png">
                                      </div>
                                      <div class="z4_right left">
                                          <p><i>0</i>人</p>
                                          <p>有效注册人数</p>
                                      </div>
                                  </a>
                              </li>
                              <li class="color_lan">
                                  <a href="javascript:void(0)">
                                      <div class="z4_left left">
                                          <img src="../images/yao_3.png">
                                      </div>
                                      <div class="z4_right left">
                                          <p><i>0</i>人</p>
                                          <p>申请方案人数</p>
                                      </div>
                                  </a>
                              </li>
                              <li class="color_ju">
                                  <a href="javascript:void(0)">
                                      <div class="z4_left left">
                                          <img src="../images/yao_4.png">
                                      </div>
                                      <div class="z4_right left">
                                          <p><i>0</i>次</p>
                                          <p>已获奖励次数</p>
                                      </div>
                                  </a>
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>
              <div class="yao_one yao_two">
                <div class="yao_one_top">
                  <div class="yao_o_left yao_t">
                      <h3>成为代理  躺着赚钱</h3>
                  </div>
                  <div class="yao_o_right">
                      <a href="/agent/agentRule.html">期货代理规则</a>
                  </div>
                </div>
                <div class="yao_one_cone yao_two_cs clearx">
                  <h4>下线人数达到1人以上且所有下线（含自己）交易手数之和达到日均6手及以上，即可申请成为代理，躺着赚钱！</h4>
                  <p style="margin-top:6px;">申请成为期货代理后，通过您邀请链接注册的好友都会成为您的下线，您的下线用户到投资达人交易任何品种的期货，产生的所有手续费我们按照一定的比例返佣给您！下线用户再邀请下线用户，也会成为您的下线，您还可获得返佣。</p>
                  <p>下线越多，下线再带来的下线就越多，您的收入就会源源不断地增长。</p>
                  <h4>申请成为代理?</h4>
                  <p class="qi_p">联系电话：400-020-0158<a class="qi_a" href="tencent://message/?uin=123456789&amp;Site=&amp;Menu=yes">联系QQ：123456789</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="clear"></div>
        </div>
    </div>  
  </div>
<div th:replace="common/footer :: footer"></div>
<script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
<script src="../js/layer/layer.js"></script>
<script src="../js/main.js"></script>
<script type='text/javascript' src="../js/ZeroClipboard.min.js"></script>
<script type="text/javascript">
  var clip = new ZeroClipboard($(".copy"), {
    moviePath: "../images/ZeroClipboard.swf"
  });
  clip.on("complete", function(client, args){
    alert("已复制到剪切板");
  }); 

</script>
</body>
</html>