<!DOCTYPE html>
<html lang="zh-cmn-Hans" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <meta charset="utf-8">
  <title>佣金转存</title>
  <meta name="description" content=""/>
  <meta name="keywords" content=""/>
  <meta name="robots" content="index,follow"/>
  <meta name="viewport" content="user-scalable=0"/>
  <meta name="HandheldFriendly" content="true"/>
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="renderer" content="webkit"/>
  <meta name="format-detection" content="telphone=no, email=no"/>
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <meta name="author" content="SDTEAM"/>
  <link href="../css/main.css" rel="stylesheet"/>
  <link rel="shortcut icon" href="favicon.ico"/>
  <style type="text/css">
    #mid{background: #f2f5f7;}
    .search .sch-mid{margin-right: 10px;}#realname,#phone{margin-right: 10px;}
    #safeform .rl_input .ipt_name{width: 140px;}
    #safeform #transfermoney{width: 120px;}
    #safeform #allmoney{display: block;width:84px;height:32px;border: none;background: #ff7027;color: #fff;font-size: 14px;border-radius: 0 4px 4px 0;cursor: pointer;float: left;text-align: center;line-height: 32px;margin-left: -5px;}
    .withdraw_con .safebtn{margin-left: 160px;}
    .alertinfo{float:left;width: 700px;margin-bottom:40px;margin-top: 30px; background: #ffecd4;padding: 15px;font-size: 14px;border-radius: 5px;color: #ff7027;margin-left: 120px;}
    .withdraw_con{clear: both;}
  </style>
</head>
<body>
  <div th:replace="common/header :: header"></div>
  <div id="mid">
    <div class="content user">
        <div class="wcon">
          <div th:replace="common/leftmenu :: leftmenu"></div>
          <div class="user_right fr">
            <ul class="tit"><li class="nocur"><a href="/agent/agent_member.html">代理会员</a></li><li class="nocur"><a href="/agent/agent_record.html">结算记录</a></li><li><a href="/agent/agent_transfer.html">账户转存</a></li></ul>
            <div class="user_con">
              <div class="alertinfo"><p>友情提示：滴答滴答滴答滴答滴答滴答滴答滴答滴答滴答滴答滴答滴，答滴答滴答滴答滴答滴答滴答滴答滴答滴答滴答滴答，滴答滴答滴答滴答滴答滴答滴答滴答金风科技阿克拉微积分来看阿娇网络科技flak微积分</p></div>
              <div class="withdraw_con">
                  <div id="safebox">
                    <form name="safeform" id="safeform" action="../test.ajax" th:action="@{/agent/agent_transfer_ajax}" onSubmit="return false;">

                      <div class="rl_input">
                        <span class="ipt_name">账户余额 (人民币)：</span>
                        <span class="inputdesc"><b class="red" id="balance" th:text="${balance}">0.00</b>元</span>
                      </div>
                      <div class="rl_input">
                        <span class="ipt_name">可转佣金 (人民币)：</span>
                        <span class="inputdesc"><b class="red" id="agentBalance" th:text="${agentBalance}">0.00</b>元</span>
                      </div>
                      <div class="rl_input">
                      <span class="ipt_name">转存金额：</span>
                      <input type="text" name="transfermoney" id="transfermoney" class="input" placeholder="请输入转存金额" maxlength="10" autocomplete="off" /><span id="allmoney">全部转存</span></div>
                      <div class="safebtn">
                        <button type="button" name="safesub" class="btn" id="gotransfer">立即转存</button>
                      </div>
                    </form>
                  </div>
              </div>
            </div>
          </div>
          <div class="clear"></div>
        </div>
    </div>
  </div>
  <div th:replace="common/footer :: footer"></div>
<script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
<script src="../js/layer/layer.js"></script>
<script src="../js/main.js"></script>
<script type="text/javascript">

$(document).on('click',"#allmoney",function(){
  $("#transfermoney").val($("#agentBalance").text());
})
$(document).on('keyup',"#transfermoney",function(){
  var balance = parseFloat($("#balance").text());
  if($(this).val()>balance){$(this).val($("#balance").text())}
})
$("#transfermoney").blur(function(){
  var val=toDecimal2str(parseFloat($(this).val()));
  if (val==false) {
    val = "0.00";
  }
  $(this).val(val);
})

  $("#gotransfer").click(function(){
    if($("#transfermoney").val()==''||$("#transfermoney").val()==0){
      layer.msg('请输入转存金额',function(){});
      $("#transfermoney").select();
      return;
    }
    var _this = $(this);
    var data=$("#safeform").serialize(),url=$("#safeform").attr('action');
    _this.attr('disabled',true).text('转存中...');
    ajax.submit(url,data,function(d){
      if(d.success==true){
        layer.msg('转存成功',{icon:1,time:1000,shade: [0.3, '#393D49']},function(){
          window.location.href="/agent/agent_transfer.html";
        })
      }else{
        layer.msg(d.resultMsg);
          _this.removeAttr('disabled').text('立即转存');
      }
    },function(e){
      layer.msg('网络繁忙请稍后再试');
      _this.removeAttr('disabled').text('立即转存');return;
    });
  })


</script>
</body>
</html>