<!DOCTYPE html>
<html lang="zh-cmn-Hans" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <meta charset="utf-8">
  <title>推广信息</title>
  <meta name="description" content=""/>
  <meta name="keywords" content=""/>
  <meta name="robots" content="index,follow"/>
  <meta name="viewport" content="user-scalable=0"/>
  <meta name="HandheldFriendly" content="true"/>
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="renderer" content="webkit"/>
  <meta name="format-detection" content="telphone=no, email=no"/>
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <meta name="author" content="SDTEAM"/>
  <link href="../css/main.css" rel="stylesheet"/>
  <link href="../css/yaoqing.css" rel="stylesheet"/>
  <link rel="shortcut icon" href="favicon.ico"/>
</head>
<body>
<div th:replace="common/header :: header"></div>
  <div id="mid">
    <div class="content user">
        <div class="wcon">
          <div th:replace="common/leftmenu :: leftmenu"></div>
          <div class="user_right fr">
            <ul class="tit"><li>推广信息</li></ul>
            <div class="user_con" style="padding:30px;">
              <h1 style="text-align:center;margin-bottom:20px;">邀请奖励规则</h1>
              <p style="margin-top: 0px; margin-bottom: 10px; padding: 0px; border: 0px; font-size: 14px; text-align: center; color: rgb(119, 119, 119);">
                  分享邀请链接，邀请好友加入投资达人平台，您和被邀请好友可分别获得<strong style="margin: 0px; padding: 0px; border: 0px; color: rgb(245, 124, 0);">888元</strong>和<strong style="margin: 0px; padding: 0px; border: 0px; color: rgb(245, 124, 0);">800元</strong>的大礼包。
              </p>
              <h3 style="margin: 0px; padding: 0px; border-bottom: 1px solid #fcab2d; font-size: 16px; color: rgb(71, 80, 89); height: 30px; line-height: 30px; display: inline-block;">
                  邀请好友
              </h3>
              <p class="qi_p qi_t15" style="margin-top: 15px; margin-bottom: 0px; padding: 0px; border: 0px; font-size: 14px; line-height: 22px; color: rgb(102, 102, 102);">
                  您可以通过QQ好友、QQ群、QQ空间、微信好友、微信群、微信朋友圈、微信公众号、微博、博客、个人网站、论坛、社区、股吧、贴吧、财经网站、知乎或自己名片等方式分享您的邀请链接，<strong style="margin: 0px; padding: 0px; border: 0px; color: rgb(245, 124, 0);">邀请好友通过您的链接注册成为投资达人平台用户</strong>。
              </p>
              <h3 style="margin: 0px; padding: 0px; border-bottom: 1px solid #fcab2d; font-size: 16px; color: rgb(71, 80, 89); height: 30px; line-height: 30px; display: inline-block;">
                  奖励内容
              </h3>
              <p class="qi_p qi_t15 qi_blod" style="margin-top: 15px; margin-bottom: 0px; padding: 0px; border: 0px; font-size: 14px; line-height: 22px; color: rgb(102, 102, 102); font-weight: bold;">
                  邀请人奖励内容：
              </p>
              <p class="qi_p qi_t3" style="margin-top: 3px; margin-bottom: 0px; padding: 0px; border: 0px; font-size: 14px; line-height: 22px; color: rgb(102, 102, 102);">
                  1、每邀请1位好友有效注册成功，邀请人获得600元大礼包一份，礼包内容如下：
              </p>
              <p class="qi_p qi_t3" style="margin-top: 3px; margin-bottom: 0px; padding: 0px; border: 0px; font-size: 14px; line-height: 22px; color: rgb(102, 102, 102);">
                  <span style="margin: 0px 5px 0px 0px; padding: 0px; border: 0px; list-style: none; display: inline-block;">•</span>现金红包8元（券名：邀请奖励红包）；
              </p>
              <p class="qi_p qi_t3" style="margin-top: 3px; margin-bottom: 0px; padding: 0px; border: 0px; font-size: 14px; line-height: 22px; color: rgb(102, 102, 102);">
                  <span style="margin: 0px 5px 0px 0px; padding: 0px; border: 0px; list-style: none; display: inline-block;">•</span>投资达人平台国际期货通用代金券198*2张（券名：邀请奖励国际期货代金券）；
              </p>
              <p class="qi_p qi_t3" style="margin-top: 3px; margin-bottom: 0px; padding: 0px; border: 0px; font-size: 14px; line-height: 22px; color: rgb(102, 102, 102);">
                  <span style="margin: 0px 5px 0px 0px; padding: 0px; border: 0px; list-style: none; display: inline-block;">•</span>配股宝平台A股通用代金券196元*1张（券名：邀请奖励A股代金券）。
              </p>
              <p class="qi_p qi_t15 qi_blod" style="margin-top: 10px; margin-bottom: 10px; padding: 0px; border: 0px; font-size: 14px; line-height: 22px; color: rgb(245, 124, 0); font-weight: bold;">
                  邀请的好友会在下一个工作日11:30生效并发放奖励，奖励发放至“我的优惠券”中，请前往账户中心查看。
              </p>
              <p class="qi_p qi_t3" style="margin-top: 3px; margin-bottom: 0px; padding: 0px; border: 0px; font-size: 14px; line-height: 22px; color: rgb(102, 102, 102);">
                  2、每有1位好友首次申请方案后，邀请人获得288元大礼包一份，礼包内容有：
              </p>
              <p class="qi_p qi_t3" style="margin-top: 3px; margin-bottom: 0px; padding: 0px; border: 0px; font-size: 14px; line-height: 22px; color: rgb(102, 102, 102);">
                  <span style="margin: 0px 5px 0px 0px; padding: 0px; border: 0px; list-style: none; display: inline-block;">•</span>现金红包88元（券名：下线首方案红包）；
              </p>
              <p class="qi_p qi_t3" style="margin-top: 3px; margin-bottom: 0px; padding: 0px; border: 0px; font-size: 14px; line-height: 22px; color: rgb(102, 102, 102);">
                  <span style="margin: 0px 5px 0px 0px; padding: 0px; border: 0px; list-style: none; display: inline-block;">•</span>投资达人平台全品类通用抵扣券100元*2张（券名：下线首方案抵扣券）。
              </p>
              <p class="qi_p qi_t15 qi_blod" style="margin-top: 10px; margin-bottom: 10px; padding: 0px; border: 0px; font-size: 14px; line-height: 22px; color: rgb(245, 124, 0); font-weight: bold;">
                  达到以上条件时，系统自动发放奖励至“我的优惠券”中，请前往账户中心查看。
              </p>
              <p class="qi_p qi_t3 qi_blod" style="margin-top: 20px; margin-bottom: 0px; padding: 0px; border: 0px; font-size: 14px; line-height: 22px; color: rgb(102, 102, 102); font-weight: bold;">
                  被邀请人奖励内容：
              </p>
              <p class="qi_p qi_t3" style="margin-top: 3px; margin-bottom: 0px; padding: 0px; border: 0px; font-size: 14px; line-height: 22px; color: rgb(102, 102, 102);">
                  1、被邀请人通过邀请链接有效注册成功，获得800元大礼包一份，礼包内容如下：
              </p>
              <p class="qi_p qi_t3" style="margin-top: 3px; margin-bottom: 0px; padding: 0px; border: 0px; font-size: 14px; line-height: 22px; color: rgb(102, 102, 102);">
                  <span style="margin: 0px 5px 0px 0px; padding: 0px; border: 0px; list-style: none; display: inline-block;">•</span>投资达人和配股宝平台通用抵扣券72元*2张（券名：受邀注册抵扣券）；
              </p>
              <p class="qi_p qi_t3" style="margin-top: 3px; margin-bottom: 0px; padding: 0px; border: 0px; font-size: 14px; line-height: 22px; color: rgb(102, 102, 102);">
                  <span style="margin: 0px 5px 0px 0px; padding: 0px; border: 0px; list-style: none; display: inline-block;">•</span>投资达人平台国际期货通用代金券179元*2张（券名：受邀注册国际期货代金券）；
              </p>
              <p class="qi_p qi_t3" style="margin-top: 3px; margin-bottom: 0px; padding: 0px; border: 0px; font-size: 14px; line-height: 22px; color: rgb(102, 102, 102);">
                  <span style="margin: 0px 5px 0px 0px; padding: 0px; border: 0px; list-style: none; display: inline-block;">•</span>投资达人平台商品期货通用代金券100元*1张（券名：受邀注册商品期货代金券）；
              </p>
              <p class="qi_p qi_t3" style="margin-top: 3px; margin-bottom: 0px; padding: 0px; border: 0px; font-size: 14px; line-height: 22px; color: rgb(102, 102, 102);">
                  <span style="margin: 0px 5px 0px 0px; padding: 0px; border: 0px; list-style: none; display: inline-block;">•</span>配股宝平台A股通用代金券198元*1张（券名：受邀注册A股代金券）。
              </p>
              <p class="qi_p qi_t15 qi_blod" style="margin-top: 10px; margin-bottom: 10px; padding: 0px; border: 0px; font-size: 14px; line-height: 22px; color: rgb(245, 124, 0); font-weight: bold;">
                  达到以上条件时，系统自动发放奖励至“我的优惠券”中，请前往账户中心查看。
              </p>
              <p class="qi_p qi_t3" style="margin-top: 3px; margin-bottom: 0px; padding: 0px; border: 0px; font-size: 14px; line-height: 22px; color: rgb(102, 102, 102);">
                  2、被邀请人首次申请方案后获得666元大礼包一份，礼包内容如下：
              </p>
              <p class="qi_p qi_t3" style="margin-top: 3px; margin-bottom: 0px; padding: 0px; border: 0px; font-size: 14px; line-height: 22px; color: rgb(102, 102, 102);">
                  <span style="margin: 0px 5px 0px 0px; padding: 0px; border: 0px; list-style: none; display: inline-block;">•</span>投资达人和配股宝平台通用抵扣券72元*1张（券名：受邀首方案抵扣券）；
              </p>
              <p class="qi_p qi_t3" style="margin-top: 3px; margin-bottom: 0px; padding: 0px; border: 0px; font-size: 14px; line-height: 22px; color: rgb(102, 102, 102);">
                  <span style="margin: 0px 5px 0px 0px; padding: 0px; border: 0px; list-style: none; display: inline-block;">•</span>投资达人平台国际期货通用代金券148元*2张（券名：受邀首方案国际期货代金券）；
              </p>
              <p class="qi_p qi_t3" style="margin-top: 3px; margin-bottom: 0px; padding: 0px; border: 0px; font-size: 14px; line-height: 22px; color: rgb(102, 102, 102);">
                  <span style="margin: 0px 5px 0px 0px; padding: 0px; border: 0px; list-style: none; display: inline-block;">•</span>投资达人平台商品期货通用代金券100元*1张（券名：受邀首方案商品期货代金券）；
              </p>
              <p class="qi_p qi_t3" style="margin-top: 3px; margin-bottom: 0px; padding: 0px; border: 0px; font-size: 14px; line-height: 22px; color: rgb(102, 102, 102);">
                  <span style="margin: 0px 5px 0px 0px; padding: 0px; border: 0px; list-style: none; display: inline-block;">•</span>配股宝平台A股通用代金券198*1张（券名：受邀首方案A股代金券）。
              </p>
              <p class="qi_p qi_t15 qi_blod" style="margin-top: 10px; margin-bottom: 10px; padding: 0px; border: 0px; font-size: 14px; line-height: 22px; color: rgb(245, 124, 0); font-weight: bold;">
                  达到以上条件时，系统自动发放奖励至“我的优惠券”中，请前往账户中心查看。
              </p>
              <p>
                  <br/>
              </p>
            </div>
          </div>
          <div class="clear"></div>
        </div>
    </div>  
  </div>
<div th:replace="common/footer :: footer"></div>
<script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
<script src="../js/layer/layer.js"></script>
<script src="../js/main.js"></script>
<script type='text/javascript' src="../js/ZeroClipboard.min.js"></script>
<script type="text/javascript">
  var clip = new ZeroClipboard($(".copy"), {
    moviePath: "../images/ZeroClipboard.swf"
  });
  clip.on("complete", function(client, args){
    alert("已复制到剪切板");
  }); 

</script>
</body>
</html>