@charset "utf-8";
/* CSS Document */
.clearx:after {visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;}
a:hover{ text-decoration:none;}
.left{ float:left;}
.right{ float:right;}
.tab_hide{ display:none;}
.yao_conner{ padding:10px;}
.yao_one{height: 420px; border:1px solid #e0e0e0;}
.yao_one_top{ height:40px; line-height:40px; border-bottom:1px solid #e0e0e0; padding-left:20px; padding-right:20px;}
.yao_o_left{ float:left;}
.yao_o_right{ float:right;}
.yao_o_left h3{ font-size:14px; color:#777777; padding-left:26px; font-weight:100; background-image:url(../images/yao_logo_one.png); background-repeat:no-repeat; background-position: 0px 11px;}
.yao_o_right a{transition:0.5s;-moz-transition:0.5s;	/* Firefox 4 */-webkit-transition:0.5s;	/* Safari 和 Chrome */-o-transition:0.5s; font-size:14px; color:#03a9f4; text-decoration:underline;}
.yao_o_right a:hover{ color:#0988c1;}
.yao_one_cone{ padding-left:20px; padding-right:20px;}
.yao_one_cone h4{ font-size:14px; color:#475059; line-height:22px; padding-top:10px;}
.yao_q{ margin-top:10px; margin-bottom:10px;}
.yao_q .qi_p_1{ line-height:30px; font-weight:bold; float:left; width:75px; font-weight:100;  font-size:14px; color:#666666;}
.yao_q .qi_p_2{float:left;  border-radius:5px; font-size:14px; padding-left:10px; padding-right:10px; color:#666666; height:30px; line-height:30px; border:1px solid #bbbbbb; -moz-box-shadow:1px 2px 7px -1px #d5d3d3 inset;/*firefox*/  -webkit-box-shadow:1px 2px 7px -1px #d5d3d3 inset;/*webkit*/  box-shadow:1px 2px 7px -1px #d5d3d3 inset;/*opera或ie9*/}
.yao_q .qi_a{ height:32px; line-height:32px; text-align:center; width:110px; border-radius:5px; background:#ff9b00; display:inline-block; font-size:14px; color:#fff; text-decoration:none; margin-left:20px;}
.yao_erwei{ text-align:center;margin-top:10px; }
.yao_erwei h4{font-size:14px; color:#475059;}
.yao_erwei img{ width:120px; height:120px; margin-top:5px;}
.yao_erwei p{ color:#777777; font-size:14px;margin-top:5px;}
.yao_z4{ margin-top:20px; margin-bottom:20px;}
.yao_z4 ul li{ float:left; width:178px; height:68px; background:#8775a7; margin-right:10px; transition:0.5s;-moz-transition:0.5s;-webkit-transition:0.5s;-o-transition:0.5s;}
.yao_z4 ul li:nth-child(4n){margin-right:0px;}
.yao_z4 ul li a{ display:inherit; width:100%; height:68px; overflow:hidden;}
.yao_z4 ul li a .z4_left{ margin:20px 0 0 10px;}
.yao_z4 ul li a .z4_left img{ width:32px; height:32px;}
.yao_z4 ul li a .z4_right{ margin-top:15px; margin-left:10px;}
.yao_z4 ul li a .z4_right p{ line-height:20px; font-size:14px; color:#fff;}
.yao_z4 ul li a .z4_right p i{ font-style:normal; font-size:24px; padding-right:5px;}
.yao_z4 ul .color_hong{ background:#e35b5a;}
.yao_z4 ul .color_lan{ background:#14aae4;}
.yao_z4 ul .color_ju{ background:#ff9b00;}
.yao_z4 ul .color_hei:hover{ background:#675881;}
.yao_z4 ul .color_hong:hover{ background:#c04e4d;}
.yao_z4 ul .color_lan:hover{ background:#168bb9;}
.yao_z4 ul .color_ju:hover{ background:#d88300;}
.yao_one.yao_two{ margin-top:15px;height: 240px;}
.yao_o_left.yao_t h3{ font-size:14px; color:#777777; padding-left:26px; font-weight:100; background-image:url(../images/yao_logo_two.png); background-repeat:no-repeat; background-position: 0px 11px;}
.yao_two_cs p{ font-size:14px; color:#777777; line-height:24px;}
.qi_p{ margin-top:10px; line-height:22px; font-size:14px; color:#666666;}
.qi_p a{ text-decoration:underline; font-weight:100; color:#03a9f4;}
.qi_a{ margin-left:50px; font-weight:bold;}
.yao_two_cs { padding-bottom:20px;}
.yao_two_cs h5{font-size:14px; color:#475059; line-height:26px; padding-top:20px; font-weight:100;}
.yao_d .yao_da{ float:left; margin-right:2%; height:60px; line-height:60px; text-align:center; width:49%; -webkit-box-shadow:0 0 8px #ccc;  
  -moz-box-shadow:0 0 8px #ccc;  
  box-shadow:0 0 8px #ccc;  }
.yao_d .yao_da:nth-child(2n){margin-right:0%;}
.yao_d{ margin-top:15px; font-size:16px; color:#777777;}
.yao_d .yao_da i{ font-style:normal; font-size:20px; color:#f95554;}
.yao_d .yao_da strong{ font-size:16px; color:#777777; font-weight:100;}
.yao_d.yao_x .yao_da{ width:100%; cursor:pointer; transition:0.5s;-moz-transition:0.5s;	/* Firefox 4 */-webkit-transition:0.5s;	/* Safari 和 Chrome */-o-transition:0.5s;}
.yao_d.yao_x .yao_da:hover{ background:#f8f7f3}
.yq_mx{ padding-left:36px; padding-right:36px; padding-bottom:20px;}
.yq_mx .yq_top{ height:60px; line-height:60px;}
.yq_mx .yq_top span{ color:#333333; font-size:16px;}
.yq_mx .yq_top span i{ font-style:normal; font-weight:bold; color:#f95554;}
.yq_mx .yq_top span:nth-child(2n){ margin-left:20px;}
.yq_con{ height:40px; line-height:40px; border-top:1px solid #c9c9c9; border-bottom:1px solid #eaeaea; background:#f5f5f5;}
.yq_con h3{ float:left; width:33.3%; text-align:center; color:#666666; font-size:14px; background:#f5f5f5;}
.yq_con.yq_w50 h3{width:50%;}
.yq_con.yq_w50{margin-top:20px;}
.yq_ul.yq_w50_1{padding-bottom:20px;}
.yq_ul.yq_w50_1 li span{width:50%;}
.yq_ul li{ background:#ffffff; border-left:1px solid #eaeaea; border-right:1px solid #eaeaea; height:32px; line-height:32px;}
.yq_ul li span{ float:left; width:33.3%; text-align:center; color:#666666; font-size:14px;}
.yq_ul li:nth-child(2n){background:#e1f6ff; border-left:1px solid #e1f6ff; border-right:1px solid #e1f6ff;}
.yq_fl{ margin-left:33px; margin-right:33px; margin-top:10px; margin-bottom:20px;}
.yq_fl .yq_top_1 h2{ height:50px; line-height:50px; text-align:center; color:#475059; font-size:18px;}
.yq_fl .yq_top_1 p{ text-align:center; font-size:14px; color:#777777; margin-bottom:10px;}
.yq_cc .yq_nav{ margin-top:15px; border-bottom:1px solid #e1e1e1; height:30px;}
.yq_cc .yq_nav h3{ color:#475059; font-size:16px; height:30px; line-height:30px; border-bottom:1px solid #fcab2d; display:inline-block;}
.qi_t3{ margin-top:3px;}
.qi_blod, .qi_blod a{ font-weight:bold;}
.qi_t15{ margin-top:15px;}
.hp_m_list { border-top:1px solid #ddd; border-right:1px solid #ddd;}
.hp_m_list td { height:40px; border-left:1px solid #ddd; border-bottom:1px solid #ddd;text-align: center;line-height: 20px;font-size:12px; color:#333;vertical-align: middle;}
.hp_tts_down li p { border:1px solid  #d1d1d1; margin-top: 5px; width: 205px; padding: 10px; height:160px;}
.hp_m_list td.sp { line-height:20px; padding:8px 0;}
.ho_sw tr td span{display:block; height:30px; line-height:30px; border-bottom:1px solid #ddd;}
.ho_sw tr td span:last-child{border-bottom:none;}
.yq_tdx{ background:#f5f5f5;}
.yq_tdx td{ color:#fe8a00; height:30px; line-height:30px;}
.fl_hong span{ color:#d20c0c;}
.yq_cc .qi_span span{ font-size:12px; color:#777777; display:inline-block; line-height:22px;}
.yq_cc .qi_span{ margin-left:28px;}
.qi_xian{ height:1px; background:#e1e1e1; width:100%; margin-top:20px; margin-bottom:20px;}
.yq_top_1 p strong{ color:#f57c00;}
.yq_cc strong{ color:#f57c00;}
.yao_d .yao_da{cursor:pointer;transition:0.5s;-moz-transition:0.5s;	/* Firefox 4 */-webkit-transition:0.5s;	/* Safari 和 Chrome */-o-transition:0.5s;}
.yao_d .yao_da:hover{ background:#f8f7f3}






